header{
    display: flex;
    width: 1250px;
    height: 130px;
    margin: 0 325px 0 325px;
}

input{
    border: 0;
}

.logo{
    margin: 0 30px 0 0;

}
.searchForm{
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    border: 2px solid blue;
    width: 400px;
    height: 30px
}
.searchTitle{
    margin: 5px;
    width: 100px;
}
.searchInput{
    width: 100%;
}
.searchBtn{
    width: 30px;
    height: 30px;
}