button {
    border: 0;
    background-color:transparent;
}
body {
    box-sizing: border-box;
    position:relative;
    padding: 0;
    margin: 0;
    height: 100%;
}

.Wrapper{
    margin: 10px auto;
    width: 1900px;
    /* background-color: tomato; */
}